{% extends "base.html" %}
{% block title %}Quản Lý Người Dùng{% endblock %}
{% block content %}
    <div class="manage-container">
        <h2>Quản Lý Người Dùng</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <table  style="border: 1;">
            <tr>
                <th>ID</th>
                <th>Họ</th>
                <th>Tên</th>
                <th>Tên người dùng</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Hành động</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>
                    <form method="POST">
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        <button type="submit" name="action" value="delete">Xóa</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        <p><a href="{{ url_for('manage_orders') }}">Quản lý đơn hàng</a> | <a href="{{ url_for('logout') }}">Đăng xuất</a></p>
    </div>
{% endblock %}